# Gradle
.gradle/
.kotlin/
build/
!gradle/wrapper/gradle-wrapper.jar

# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Compiled
*.class
*.jar
*.war

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Environment
.env
